$btn-white: #fff;
$btn-gray: grey;
$btn-light-gray: gainsbro;
$btn-white: #fff;
$btn-gray: grey;
$btn-light-gray: gainsbro;
$btn-primary: #191919;
$btn-primary-hover: #fff;
$btn-primary-active: #191919;

$btn-danger: red;
$btn-danger-hover: red;
$btn-danger-active: red;
$btn-success: green;
$btn-success-hover: green;
$btn-success-active: green;

$defaultBorderColor: grey;
$errorBorderColor: red;
$borderRadius: 20px;

$btn-primary-disabled-bg: #f7f7f7;
$btn-primary-disabled-color: #a4a4a4;

$btn-secondary: #F57C00;
$btn-secondary-hover: #F57C00;
$btn-secondary-active: #F57C00;

$btn-mds: #EB1C2D;
$btn-mds-hover: #EB1C2D;
$btn-mds-active: #EB1C2D;
